@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Young+Serif&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
#navbar{
border: 2px solid black;
padding: 15px;
margin: 5px;
text-align: center;
background-color:#825f45;
}
#links{
display: inline;
}
#navbar #links a{
text-decoration: none;
padding: 5px;
margin: 5px;
border: 2px solid #0D0A07;
border-radius: 5px;
opacity: .70;
transition: 0.2s;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#navbar #links a:hover{opacity:1; transition: 0.4s}
#tt{background-color: #997B66; color: #0D0A07;}
#fb{background-color: #997B66; color: #0D0A07;}
#dc{background-color: #997B66; color: #0D0A07;}
#ig{background-color: #997B66; color: #0D0A07;}
#twt{background-color: #997B66; color: #0D0A07;}
.rounded{border-radius: 5px;} 
.banner{
    text-align: center;
    background-image: url(banner\ image.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    height: 500px;
}
.banner h2{
    color: #0D0A07;
    font-size: 300%;
    text-shadow: #825f45; size: 100px;
    font-family: 'Young Serif', serif;
    text-decoration: none;
    margin-top: 30px;
}

.banner p{
    margin: 30px;
}

.banner a {
    padding: 10px;
    text-decoration: none;
    background-color: #997B66;
    color: #0D0A07;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase; 
}