@font-face {
    font-family: 'plante';
    src: url(Plante.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
}

header{
    display: flex;
    position: absolute;
    min-height: 15vh;
    background-image: linear-gradient(pink, rgb(255, 255, 255));
    width: 98.75vw;
}

.title{
    font-size: 6.5em;
    text-transform: uppercase;
    margin-top: 1vh;
    font-family: 'plante';
}

nav{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

nav a{
    text-decoration: none;
    font-size: 2em;   
    color: #2c1d14;
    padding-left: 3vw;
    
}

.left, .right{
    margin-top: 5.5 vh;
}

/* 720p landscape screen */
@media screen and (max-width: 720px){
    nav{
        flex-direction: column;
        width: 98.75vw;
    }
    .title, .left, .right{
        text-align: center;
    }
    .title{
        order: 1;
    }
    .left{
        order: 2;
    }
    .right{
        order: 3;
    }
    section{
        flex-direction: column;
        width: 98vw;
        margin-top: 0;
        padding-top: 20vh;
        background-color: skyblue;
    }
    video{
    }
}

/* square tablet display */
@media screen and (max-width: 640px){
    section{
        background-color: palegoldenrod;
    }
}

/* some tablets display */
@media screen and (max-width: 600px){
    section{
        background-color: palegreen;
    }
}

/*fully mobile display */
@media screen and (max-width: 480px){
    section{
        background-image: paleturquoise;
    }
}

section{
    display: flex;
    margin-top: 10vh;
    padding-bottom: 10vh;
    height: 100vh;
    justify-content: space-around;
    flex-wrap: wrap;
}

video{
    min-width: 10vw;
    max-width: 30vw;
}
